{# Basic template with all the common features of the app #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>{% block title %}The best Spanish athletes!{% endblock %}</title>
        {% block stylesheets %}
        {# if I want to use CSS #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {# if I want to use JS #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button 
                    class="navbar-toggler" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div 
                    class="collapse navbar-collapse" 
                    id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="#">Inicio 
                        <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{{ path('listAthlete') }}">Listar Atleta</a>
                        <a class="nav-link" href="{{ path('insertAthlete') }}">Crear Atleta</a>
                        <a class="nav-link" href="{{ path('createUser') }}">Registrarse</a>
                        <a class="nav-link" href="{{ path('createAdmin') }}">Registrarse Role</a>
                        <a class="nav-link" href="{{ path(app.user ? 'app_logout' : 'app_login') }}">{{app.user ? 'Salir' : 'Login' }}</a>
                        {% if is_granted('ROLE_USER') %}
                        <p class="btn btn-secondary" >Nombre: {{ app.user.name }}</p>
                        {% endif %}


                    </div>
                </div>
            </nav>
            
            {# Defining a block #}
            {% block container %} {% endblock %}
        </div>
    </body>
</html>