{% extends 'athletes/baseAthlete.html.twig' %}

{% block container %}

{% for message in app.flashes('success') %}
<p class="message">{{ message }}</p>
{% endfor %}

{{ form(searchForm) }}
<h2 class="text">Listado de Atletas</h2>
<div class="row row-cols-1 row-cols-md-2">
{# Iterating through the different atlethes #}
{% for athlete in athletes %}
  <div class="col mb-4">
    <div class="card" style="width: 18rem">
      <img src="{{ athlete.img }}" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{ athlete.name }}</h5>
        <p class="card-text">{{ athlete.sport }}</p>
        <a href="{{ path('showAthlete', {id: athlete.id}) }}" class="btn btn-tertiary">Más Info</a>
        <a href="{{ path('editAthlete', {id: athlete.id}) }}" class="btn btn-tertiary">Editar</a>

        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('removeAthlete', {id: athlete.id}) }}" class="btn btn-tertiary">Borrar</a>
        {% endif %}
        
      </div>
    </div>
  </div>
  
  {% endfor %}
</div>

{% endblock %}